html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    Ubuntu, Cantarell, sans-serif;


}


::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 1400px;
  margin: auto;
  width: 100%;

}




.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "logo . marquee"
     ;
  max-width: 1400px;
 align-items: center;
 align-content: center;

  
  margin: 0 auto;
  position: relative;
  background-color: #000000;
}



.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}

.marquee {
 
  height: 400px;
  width: 100%;
  overflow-x: hidden;
  
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

span.text-red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}

.logo {
  grid-area: logo;
  color: rgb(0, 0, 0);
  font-size: 18px;
 margin-left: 2%;
transform: scale(0.6);
}


.logo a {
  font-size: clamp(1.3rem, 3.5vw, 3.5rem);
  font-family: Cantarell !important;
  margin-left: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.cart-text {

  font-size: 1.2rem;
  padding-bottom: 0.2rem;
}

.cart-icon {
  grid-area: marquee;
  margin-right: 2rem;
  font-size: 2rem;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}

.cart-icon:hover {
  transform: scale(1.1, 1.1);
}

.cart-item-qty {
  position: relative;
  
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 37px;
  margin-top: 20px;
  width: 100%;
}

.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #131618;

}

.product-card:hover {
  transform: scale(1.1, 1.1)
}

.product-image {
  border-radius: 15px;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-name {
  font-weight: 500;
}

.product-price {
  font-weight: 800;
  margin-top: 6px;
  color: black;
}

.hero-banner-container {
  max-height: clamp(14rem, 20vw, 375px);
  background-color: #ea0404;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "mid img btn"
    "mid img bs"
  ;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}



.hero-banner-container .beats-solo {
  font-size: clamp(1.2rem, 2.2vw, 4.2rem);

  color: #fff;
  font-family: catamaran;

  grid-area: bs;
}

.button-container {

  grid-area: btn;



}

.hero-banner-container button:hover {

  color: #000000;


}

.hero-banner-container button {
  font-family: catamaran;
  padding: 5px 45px;
  grid-area: button;
  border-radius: 15px;
  letter-spacing: 1.5px;
  background-color: white;
  color: #c90000;
  border: none;

  margin: 10px auto;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.desc {
  display: none;
  color: #fff;
  padding: 14px 80px;
  font-size: clamp(1.2rem, 1vw, 1.5rem);
  grid-area: description;
}

.desc p {
  color: #fff;


}

.hero-banner-container h3 {
  grid-area: mid;
  color: #fff;
  font-family: Monoton;
  font-size: clamp(1.5rem, 6vw, 5rem);
  margin-top: 4px;
}

.hero-banner-container h1 {
  grid-area: large;
  color: white;
  font-size: clamp(8rem, 19vw, 22rem);

  text-transform: uppercase;
}

.hero-banner-image {
  justify-self: center;

  grid-area: img;
  max-width: clamp(15rem, 23vw, 300px);
  max-height: 500px;

}


.desc {


  line-height: 1.3;
  color: #22282d;
  text-align: center;
}



.desc h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}




.under-banner {
  
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  background-image: url(../styles/heroBackground.png);
  background-color: #343229;




  align-content: center;
  justify-content: space-around;



}

.miniBanner {
  min-width: 50px;
  margin: 1rem;

  transform: scale(0.5);
}









.products-heading {

  text-align: center;
  margin: 40px 0px;
  color: #17191a;
  margin-top: 8rem;
}

.products-heading h2 {
  font-size: 40px;
  font-weight: 800;
}

.products-heading p {
  font-size: 16px;

}























































.footer-banner-container {
  margin-top: 2rem;
  padding-top: 2rem;
  color: white;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='203.0015mm' height='101.21836mm' viewBox='0 0 203.0015 101.21836' version='1.1' id='svg5' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2' /%3E%3Cg id='layer1' transform='translate(-3.4601345 -4.7382732)'%3E%3Crect style='fill:%23ea0404%3Bstroke:%23ea0404%3Bstroke-width:0.499999%3Bstroke-miterlimit:2%3Bstroke-opacity:1' id='rect184' width='202.5015' height='100.67562' x='3.710134' y='4.9882727' /%3E%3Crect style='fill:%23000000%3Bstroke:%23000000%3Bstroke-width:0.351006%3Bstroke-miterlimit:2%3Bstroke-opacity:1' id='rect184-3' width='99.649994' height='100.82462' x='71.63613' y='4.9565082' /%3E%3C/g%3E%3C/svg%3E");

  background-size: 150%;
}

.footer-banner-container::after {


  position: absolute;
  display: flex;
}

.svgBackground {
  width: auto;
}


.banner-desc {


  padding: 20px 40px;
  display: grid;
  z-index: 2;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 1fr;
  grid-template-areas: "left center right"
    "left center right";
  align-items: stretch;


}

.banner-desc button {
  width: min(13.5rem, 25vw);
  border-radius: 10px;
  padding: 10px 16px;
  background-color: rgb(255, 255, 255);
  color: #f02d34(255, 255, 255);
  border: none;

  font-size: clamp(0.8rem, 2.5vw, 1rem);
  font-weight: 500;
  cursor: pointer;
  z-index: 2;

}

.banner-desc .left {

  z-index: 2;
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: space-around;
}


.banner-desc .left h3 {
  font-weight: 900;
  font-family: Monoton !important;
  font-size: clamp(1.0rem, 7vw, 8rem) !important;
  font-weight: 800;
}

.banner-desc .left p {

  font-size: 18px;
  grid-area: left;
}

.banner-desc .center {
  display: flex;
  flex-direction: column;
  grid-area: center;
  align-items: center;

}

.banner-desc .right {
  align-items: center;
  grid-area: right;

  z-index: 2;
  text-align: right;
  font-family: catamaran !important;

  display: grid;


}

.footer-banner-image {
  position: relative;
  z-index: 2;
  grid-area: center;
  width: min(30rem, 35vw);
  height: auto;
  /* ;
   */

}

.footerBtn {
  font-family: catamaran;
  color: #f02d34;
  letter-spacing: 3px;

}

.footerBtn:hover {

  color: #000000;


}

.banner-desc .right h3 {
  font-family: Monoton !important;
  font-size: clamp(1.0rem, 7vw, 6rem) !important;
  font-weight: 800;

}

.banner-desc .right p {


  font-size: 18px;
}


.banner-desc .right .company-desc {


  font-size: 14px;
  font-weight: 300;
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;

  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 0;
  position: relative;

}

.footer-container {
  display: flex;
  color: #24272b;
  text-align: center;
  margin-top: 40px;
  padding: 30px 10px;
  font-weight: 700;

  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-self: center;

}

.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}

.empty-cart {
  margin: 40px;
  text-align: center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.cancel {
  cursor: pointer;
}

.product-container {
  display: flex;
  position: relative;
  margin-top: 15px;

  overflow: auto;
  max-height: 80vh;
  padding: 20px 10px;
  padding-bottom: 6rem !important;
}

.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.product .cart-product-image {
  width: 180px;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}

.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;

}

.item-desc .bottom {
  margin-top: 60px;
}

.flex h5 {
  font-size: 24px;
}

.flex h4 {
  font-size: 20px;
}

.total {
  display: flex;
  justify-content: space-evenly;
}

.total h3 {
  font-size: 22px;

}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;

}

.btn-container {
  width: 400px;
  margin: auto;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.product-detail-container {
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  color: #324d67;

}

.product-detail-image {
  border-radius: 15px;
  background-color: #ebebeb;

  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.product-detail-image:hover {
  background-color: #f02d34;

}

.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #f02d34;
}

.reviews {
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc h4 {
  margin-top: 10px;
}

.product-detail-desc p {
  margin-top: 10px;
}

.reviews p {
  color: #324d67;
  margin-top: 0px;
}

.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: #f02d34;
}

.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}

.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}

.buttons .add-to-cart {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1)
}

.buttons .buy-now {
  width: 200px;

  padding: 10px 20px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .buy-now:hover {
  transform: scale(1.1, 1.1)
}

.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
}

.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}

.quantity-desc .num {
  border-right: 1px solid gray;
  font-size: 20px;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);

}

.maylike-products-wrapper {
  margin-top: 120px;
}

.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #281313;

  font-size: 28px;
}

.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.max-qty {
  font-weight: 500;
  color: #f02d34;
}

.success-wrapper,
.cancel-wrapper {
  background-color: white;
  min-height: 60vh;

}

.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}

.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}

.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.cancel p {
  font-size: 20px;
  font-weight: 600;
}

.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}

.product-max-qty {
  margin-top: 10px;
}

@media screen and (max-width:800px) {
  .svgBackground {

    display: none;
  }

  .desc {
    bottom: 60px;
    display: none;
  }

  .product-detail-container {
    flex-wrap: wrap;
  }

  .product-detail-container .product-detail-image {
    width: 350px;
    height: 350px;
  }

  .cart-container {
    width: 415px;
    padding: 4px;
  }

  .cart-heading {
    margin-top: 35px;
  }

  .product-container {
    margin-top: 10px;
  }

  .product {
    padding: 20px 5px;

  }

  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }

  .buttons .add-to-cart {
    width: 150px;
  }

  .buttons .buy-now {
    width: 150px;
  }

  .product-detail-container {
    margin: 20px;
  }

  .item-desc .flex {
    width: 200px;
  }

  .top {
    flex-wrap: wrap;
    gap: 10px;


  }

  .item-desc .bottom {
    margin-top: 30px;
  }

  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }

  .flex h4 {
    font-size: 16px;
    color: black;
  }

  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }

  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }

  .success-wrapper,
  .cancel-wrapper {

    min-height: 69vh;
  }

  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }

  .success {
    height: 350px;
  }

  .success h2 {
    font-size: 17px;
  }

  .btn-container {
    width: 300px;
    margin: auto;
  }
}

/* .hero-banner-container {
  
  background-color: #ea0404;
  
  
  line-height: 1.5;
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  grid-template-areas:
    "img mid btn"
    "img mid bs"
    "img mid description"    
    
    ;

text-align: center;
justify-content: center;
justify-items: center;
align-items: center;
} */

@media screen and (max-width:800px) {

  .hero-banner-container {
    max-height: 100%;
    background-color: #ea0404;
    display: grid;

    grid-template-columns: 1fr;


    grid-template-areas:

      "mid  "
      "img "
      "bs"
      "btn"
    ;
    place-items: center;
    place-content: center;
  }

  .hero-banner-container .beats-solo {
    padding: 0px;
    grid-area: bs;
    font-size: clamp(1.2rem, 1.4vw, 2.2rem);
    color: white;
  }

  .hero-banner-container .mid-text {
    padding: 0px;
    font-weight: normal !important;
    grid-area: mid;
  }

  .hero-banner-container h1 {
    padding: 0px;

  }

  .large-text {
    padding: 0px;
    grid-area: large;

  }

  .hero-banner-image {
    max-width: clamp(6rem, 25vw, 350px);
    margin-left: 3vw;
    padding-top: 1vw;
    padding-right: 1vw;
    grid-area: img;
  }


  .button-container {
    grid-area: btn;
    padding-top: 1rem;
    min-width: 180px;
    text-align: center;
  }



  .button-container button {
    font-size: clamp(1.2rem, 1.2vw, 1.1rem);
    padding: 4px 8px;
  }

  .button-container .desc {
    position: relative;
    padding: 70px 10px;
    font-size: clamp(1rem, 1.2vw, 1.1rem)
  }



  .miniBanner {

    margin-top: 1rem;
    transform: scale(0.9);
  }

  .under-banner {
    background-color: #000000;
    padding-top: 1rem;
  }

  /* .footer-banner-container {

    height: 100%;

  } */



  .banner-desc {
    display: none;

    gap: unset;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;

    grid-template-areas:
      "left left left left "
      ". center center ."
      "right right right right"

    ;


    place-items: center;
    font-family: catamaran;
  }


  .banner-desc .left {
    margin: 1rem;
    grid-area: left;
    text-align: center;
    font-family: catamaran;
    line-height: 1.4;
  }


  .banner-desc .right {
    margin: 1rem;
    grid-area: right;
    font-family: catamaran;
    text-align: center;

  }

  .banner-desc .center {

    grid-area: center;
    display: grid;
    place-items: center;
    text-align: center;
    justify-self: space-around;
  }

  .hero-banner-container button {
    width: 50%;

  }

  .footer-banner-image {
    top: 1.5rem;
    left: 0.5rem;
    width: 100%;
    height: auto;

  }





}

@media screen and (min-width:1600px) {
  .cart-icon {
    margin-right: 0;
  }

  

}